
<div class="container">
  <div class="row" style="margin-top: 100px;">
    <form action="/admin/login" method="post">
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          name="usuario"
        />
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"        
          />
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    
    {{#if error}}
    <p>Usuario inexistente</p>
    {{/if}}

  </div>
</div>